.#{$pn-prefix}leftmenu {



  background-color: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: absolute;
  width: $leftWidth;
  height: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: 40px;
  z-index: 2;

  > iframe {
    height: 100%;
    outline: medium none;
    width: 100%;
    border: none;
    margin: 0 auto;
    display: block;
  }
}
